.card {
    background-color: #A020F0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.currentXp{
    color:white;
    display: inline
}
.levelXp {
    color : gainsboro;
    display: inline
}
.currentLevel{
    /* align-self: flex-end; */
    justify-content: center;
}
.icon{
    /* align-self: flex-end; */
    color: white;
    font-size: 64px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}